<div class="emails-search-list">
    <md-list flex>
        <md-list-item class="md-3-line md-long-text"
                      ng-repeat="email in $ctrl.data.items track by email.id"
                      ui-sref="emails.view({id: email.id})">
            <div class="md-list-item-text">
                <h3 ng-bind="email.subject || 'No subject'"></h3>
                <h4>
                    <strong>From:</strong>
                    <span ng-bind="email.from"></span>
                </h4>
                <h4>
                    <strong>To:</strong>
                    <span ng-bind="email.to | arrayToString"></span>
                </h4>
                <p ng-bind="email.body | limitTo:200"></p>
            </div>
        </md-list-item>
    </md-list>

    <div ng-if="!$ctrl.data.items.length">
        No results found
    </div>

    <pagination query="$ctrl.query"
                total-pages="$ctrl.data.totalPages"
                on-change="$ctrl.onChange({query: query})">
    </pagination>
</div>
